<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>
  This is the Contact Us page for the
  <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
  Sample application.
</p>
<p>
  Contact Ruby on Rails Tutorial about the sample app at the
  <a href="http://railstutorial.org/contact">contact page</a>.
</p>
<p>Contact Us When Ever You Want - Day, or Night!
</p>